.messageBOX {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 25%;
    width: 40%;
    top: 20%;
    padding-top: 15px;
    background-color: #fff;
    min-height: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #000;
    z-index: 40;
}
.messageBOX .close {
    position: absolute;
    display: block;
    top: -10px;
    left: 0;
    margin: 0 0 0 5px;
    width: 20px;
    height: 20px;
    color:#c7c7c7;
}
/*.message .close::after,*/
/*.message .close::before {*/
/*display: block;*/
/*content: ' ';*/
/*border-top: 2px solid #c7c7c7;*/
/*}*/
/*.message .close::after {*/
/*transform: translateX(1px) rotate(45deg);*/
/*}*/
/*.message .close::before {*/
/*transform: rotate(135deg);*/
/*}*/
.messageBOX.modal1 {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px 20px 20px;
}
.messageBOX.modal1 .close {
    margin: 10px 0 0 0 !important;
}
.messageBOX.modal1 .modal1_title {
    height: 30px;
    line-height: 30px;
    color: #333;
    font-size: 17px;
    border-bottom: 1px solid #eee;
}
.messageBOX.modal1 .btn-color {
    width: 100%;
    border: 0;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 15px;
}
.screenLock {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    height: 100%;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.5);
}
.messageBOX .title {
    position: relative;
    text-align: center;
    height: 20px;
    line-height: 18px;
    font-size: 16px;
}
.messageBOX .content {
    padding: 10px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #666;
    font-weight: 100;
}
.messageBOX .buttonGroup:after {
    content: ' ';
    clear: both;
}
.messageBOX .buttonGroup {
    padding-top: 10px;
}
.messageBOX .buttonGroup .leftBtn,
.messageBOX .buttonGroup .rightBtn,
.messageBOX .buttonGroup .btn {
    width: 50%;
    float: left;
    border: 0px;
    height: 40px;
    background-color: transparent;
    outline: none;
    transition-duration: .2s;
    font-size: 16px;
}
.messageBOX .buttonGroup .btn {
    width: 100% !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid #eee;
    color: #e84c3d;
}
.messageBOX .buttonGroup .btn-color {
    color: #fff;
    background-color: #e84c3d;
}
.messageBOX .buttonGroup .leftBtn {
    border-top: 1px solid #eee;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
}
.messageBOX .buttonGroup .rightBtn {
    background-color: #e84c3d;
    border-bottom-right-radius: 10px;
    color: #fff;
}
.messageBOX .buttonGroup button[disabled] {
    background-color: #ccc;
}
.blur {
    filter: blur(10px);
}
