<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{data.title}} - {{config?config.title:''}}</title>
    <link rel="stylesheet" href="/styles/prism.css">
    <link rel="stylesheet" href="/styles/index.css">

</head>
<body>
<% include('./components/header.art', {index:1}) %>
<div class="w100 article clear">
    <div style="float: left;width: 100%;">
        <% var nowDate = new Date(data.createdAt); %>
        {{set month = nowDate.getMonth()+1}}
        {{set date = nowDate.getDate()}}
        <div class="detail">
            <a href="/detail/{{data.idx}}/{{data.title}}.html" class="title">{{data.title}}</a>
            <p class="info">
                <span class="category">{{data.category}}</span>
                <span class="viewpoint">
                 {{data.viewCount}}<br/>
                阅读量</span>
                <span class="datetime">{{nowDate.getFullYear() + '-' + (month<10?'0':'') + month + '-' + (date<10?'0':'') + date}}</span>
            </p>
        </div>
        <div class="content">
            {{@data.content}}
        </div>
    </div>
</div>
<script src="/js/prism.js"></script>
<% include('./components/footer.html') %>

</body>
</html>