<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{config?config.title:''}}</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
<% include('./components/header.art', {index:2}) %>
<div class="w100 photo clear">
    {{each data.rows}}
    <div class="photoDetail">
        <a href="/photoDetail/{{$value.idx}}.html">
            <div class="img" style="background-image:url({{$value.url.replace(/\.(jpg|jpeg|png|webp|gif)$/,'_thumb' + $value.url.match(/\.(jpg|gif|png|jpeg)$/)[0])}})">

            </div>
            <p>
                {{$value.title}}
            </p>
        </a>
    </div>
    {{/each}}
</div>
<div class="w100" style="background-color: #fff;padding: 10px 0;">
    <div class="page">
        {{if pageIndex>1}} <a href="/article/{{pageIndex-1}}" class="pl">上一页</a>{{/if}}
        <span>{{pageIndex}}/{{pageCount}}</span>
        {{if pageIndex*1<pageCount*1}} <a href="/article/{{pageIndex*1+1}}" class="pr">下一页</a>{{/if}}
    </div>
</div>
<% include('./components/footer.html') %>
</body>
</html>