    {{ if user }}
    <h1 style="color: #00ff00">{{user.name}}</h1>
    {{ /if }}
    <input type="text" id="username" name="username">
    <input type="password" id="password" name="password">
    <button id="loginBtn">登录</button>

<script>
    (function(){
        let loginBtn = document.querySelector('#loginBtn');
        loginBtn.addEventListener('click', () => {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:7800/api/v1/login');

            var formData = new FormData();
            formData.append('username', document.querySelector('#username').value);
            formData.append('password', document.querySelector('#password').value);
            xhr.send(formData);

            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var res = JSON.parse(xhr.responseText);
                    if (res.errorNo === 0) {
                        window.location.href = res.data.redirectUrl;
                    } else {
                        console.log(res.errorMessage || '登录失败！')
                    }
                }
            };
        });
    })();
</script>