:local(.index) {
  outline: none;
  font-size: 14px;
  line-height: 30px;
  padding: 0px;
  color: #545454;
  .editor {
    outline: none;
  }
  .CodeMirror-scroll {
    padding:10px 20px;
    padding-right:45px;
    //overflow: hidden;
  }

}