:local(.index){
  position: relative;
  flex:1;
  box-sizing: border-box;
  padding:60px 20px 20px 20px;
  .nav{
    position: absolute;
    top:0;
    width:100%;
    left:0;
    height:50px;
    border-bottom:1px solid #efefef;
    .submit{
      position: absolute;
      right:10px;
      top:5px;
    }
  }
  .photo{
    float: left;
    margin-right:10px;
    width:220px;
    background-color: #fff;
    font-size:12px;
    padding:5px;
    border-radius: 5px;
    border:1px solid #efefef;
    .thumbnail{
      height:150px;
      margin-bottom:10px;
      background-size:contain;
      background-repeat: no-repeat;
    }
    p{
      line-height:20px;
      text-align: center;
    }
    .title{
      font-size:14px;
      font-weight: bold;
    }
    .info{
      color:#666;
    }
    a{
      color:#04a1d6;
    }
    a.delete{
      color:#db4d52;
    }
  }
}