.article,
.article .rightDetail,
.article .title,
.content blockquote,
.nav .menu li {
    box-sizing: border-box
}

.logoJpg,
code {
    border-radius: 5px
}

.wrapper {
    display: flex;
    flex-direction: column
}

.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row
}

.nowrap {
    flex-wrap: nowrap;
    white-space: nowrap
}

.wrap {
    flex-wrap: wrap
}

* {
    margin: 0;
    padding: 0
}

body {
    background-color: #fff;
    padding-top: 80px
}

body .vh100 {
    min-height: 100vh
}

.left70 {
    float: left;
    width: 70%
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

@media screen and (max-width:660px) {
    .w100 {
        width: auto !important;
        max-width: 650px !important
    }

    .left70 {
        width: 100% !important
    }

    .rightDetail {
        display: none
    }
}

@media screen and (max-width:560px) {
    .logo {
        display: none
    }
}

@media screen and (max-width:420px) {

    .menu,
    .photoDetail,
    .photoDetail p {
        width: 100% !important
    }

    .nav {
        height: 40px
    }

    .menu {
        display: flex
    }

    .menu li {
        flex: 1
    }

    .photoDetail p {
        position: relative !important;
        top: -40px !important
    }
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 40px 0;
    font-size: 12px;
    background-color: #333;
    color: #fff
}

.footer a {
    color: #66d9ef
}

.article {
    padding: 20px 20px 20px 0;
    margin-top: 10px;
    background-color: #fff;
    font-size: 14px
}


/*这里开始*/
.article {
    padding: 20px;
    padding-left:0;
    margin-top: 10px;
    background-color: #fff;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .article .detail {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #efefef;
  }
  
  .article .detail .viewpoint {
    position: absolute;
    background-color: #2e3235;
    color: #fff;
    top: 0px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    right: 10px;
    font-size: 12px;
    line-height: 15px;
  
  }
  
  .article .detail .datetime {
    padding-right: 15px;
    color:#ccc;
  }
  
  .article .detail .info {
    padding: 10px 0;
    padding-left: 25px;
    font-size: 12px;
    color: #545454;
    line-height: 25px;
  }
  
  .article .detail .category {
    font-weight: bold;
    color: #db4d52;
    font-size: 14px;
  }
  
  
  .article .rightDetail {
    float: left;
    width: 30%;
    padding-left: 20px;
    color: #2e3235;
    line-height: 35px;
    box-sizing: border-box;
    font-size: 12px;
  }
  
  .article .rightDetail .title {
    margin-top: 10px;
    font-size: 12px;
    text-indent: 5px;
  }
  
  .article .rightDetail .title:hover {
    text-decoration: none;
  }
  
  .article .rightDetail .link {
    list-style: none;
    padding: 20px 0;
    line-height: 20px;
    padding-left: 10px;
    overflow: hidden;
  }
  
  .article .rightDetail .link li {
    margin-bottom: 10px;
  }
/*这里结束*/





.newphoto {
    padding-bottom: 10px
}

.newphoto img {
    width: 130px
}

.photoIndexList {
    padding-bottom: 15px
}

.photoDetailTitle {
    background-color: #3d4149;
    color: #fff;
    text-align: center;
    height: 188px
}

.photoDetailTitle .title {
    margin: 0 30px;
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee
}

.photoDetailTitle .des {
    font-size: 12px;
    padding-top: 15px
}

.photoDetail {
    width: 188px;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative
}

.photoDetail .img {
    height: 188px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover
}

.photoDetail p {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    transform: translateY(100%);
    transition-duration: .5s;
    background-color: rgba(23, 23, 23, .8);
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 188px
}

.logoJpg,
.nav {
    position: fixed
}

.photoDetail:hover p {
    transform: translateY(0)
}

.logo {
    color: #333;
    font-size: 20px
}

.logoJpg {
    margin-top: 8px;
    width: 274px;
    height: 58px;
    background: url(/static/images/logo.jpg) no-repeat;
    background-size: 100% 100%;
    color: transparent;
    opacity: .9
}

.w100 {
    width: 1000px;
    margin: 0 auto
}

.nav {
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(26, 26, 26, .1);
    z-index: 10
}

.article .title,
.more {
    text-decoration: none;
    line-height: 20px;
    display: block
}

.nav .w100 {
    position: relative
}

.nav .menu {
    position: absolute;
    right: 0;
    top: 0;
    list-style: none
}

.nav .menu li {
    border-top: 1px solid #fff;
    width: 120px;
    float: left;
    text-align: center
}

.nav .menu li a {
    display: block;
    width: 100%;
    height: 79px;
    text-decoration: none;
    font-size: 14px;
    color: #545454
}

.more,
.nav .menu .action a,
.nav .menu li:hover a,
.rightDetail a {
    color: #db4d52
}

.nav .menu .action,
.nav .menu li:hover {
    border-top: 1px solid #db4d52;
    border-bottom: 5px solid #db4d52;
    color: #db4d52;
    background-color: rgba(240, 240, 240, .1);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s
}

.more {
    width: 100%;
    text-align: right;
    font-size: 12px
}

.article .title {
    width: 100%;
    padding: 0 50px 0 20px;
    border-left: 5px solid #545454;
    font-size: 16px;
    color: #545454
}

.article .title:hover {
    text-decoration: underline
}

.photo {
    margin-top: 10px;
    background-color: #fff
}

.content {
    position: relative;
    line-height: 30px;
    color: #545454;
    min-height: 600px;
    box-sizing: border-box;
}
.content .children{
}

.content ::selection {
    background-color: #545454;
    color: #fff
}

.content h1 {
    font-size: 24px;
    margin: 15px 0;
    color: #000
}

.content p {
    margin-bottom: 15px
}

.content img {
    display: block;
    margin: 0 auto;
    max-width: 50%
}

.content code,
.content pre {
    width: 100%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin-bottom: 15px
}

pre[class*=language-] {
    box-sizing: border-box;
    font-size: 12px
}

.page {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 12px
}

.page a {
    color: #db4d52;
    font-weight: 700
}

.page .pl {
    position: absolute;
    left: 0
}

.page .pr {
    position: absolute;
    right: 0
}

.photo_Detail {
    background-color: #545454;
    margin: 15px auto;
    padding: 20px;
    text-align: center;
    line-height: 30px;
    color: #fff
}

.photo_Detail img {
    max-width: 100%
}

.content blockquote {
    border-left: 5px solid #db4d52;
    padding-left: 30px;
    margin: 0;
    color: #999
}

.content ol,
.content ul {
    padding-left: 20px
}

.content a {
    color: #66d9ef
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
    padding: 10px 0
}

code {
    background: #efefef;
    padding: 0 5px
}

code[class*=language] {
    padding: 0 !important
}
.nostyle{
    display: inline-block;
    width: 100%;
}
.nostyle li{
    float: left;
    width: 60px;
    list-style: none;
    text-align: center;
}
.nostyle li p{
    line-height: 20px;;
}
.articleMenuList{
    line-height: 20px;
}
.padding0{
    padding-left: 0;
   ;
}
.padding1{
    padding-left: 10px;
}
.padding2{
    padding-left: 0px;
    font-size:16px;
    padding:5px 0;
}
.padding3{
    padding-left: 20px;
}
.padding4{
    padding-left: 40px;
}
.padding5{
    padding-left: 60px;
}
.menuIndex{
    top:0;
    right:0;
    min-width:200px;
    width:auto;
}
.menuIndex a{
    color:#d94e55;
    height:20px;
    line-height: 20px;
    overflow: hidden;
}
.lockScreen{
    position: fixed;
    z-index:1000;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,.5);
    text-align: center;
    line-height: 100vh;
    overflow-y:scroll;
}
.lockScreen img{
    margin-top: 30px;
    max-width: 90%;
}