:local(.Detail){
  .title{
    position: relative;
    height:65px;
    line-height:64px;
    border-bottom:1px solid #dedede;
    .peizhi{
      position: absolute;
      top:10px;
      right:10px;
      font-size:20px;
      color:#666;
      cursor: pointer;
      border:0;
      background-color: transparent;
      outline:none;
    }
    .peizhi:hover{
      color:#db4d52;
    }
    .pal{
      left:10px;
    }
    input{
      height:64px;
      width:100%;
      line-height:64px;
      font-size:20px;
      padding-left:35px;
      padding-right:10px;
      box-sizing: border-box;
      border:0;
      background: transparent;
      color:#333;
    }
  }
}