:local(.Detail){
  .title{
    position: relative;
    height:65px;
    line-height:64px;
    border-bottom:1px solid #dedede;
    .peizhi{
      position: absolute;
      top:18px;
      right:10px;
      font-size:20px;
      color:#666;
      cursor: pointer;
      border:0;
      background-color: transparent;
      outline:none;
    }

    .peizhi:hover{
      color:#db4d52;
    }
    .pal{
      left:10px;
    }
    input{
      height:64px;
      width:100%;
      line-height:64px;
      font-size:20px;
      padding-left:35px;
      padding-right:10px;
      box-sizing: border-box;
      border:0;
      background: transparent;
      color:#333;
    }
  }

  .showController {
    box-sizing: border-box;
    bottom: 0px;
    padding:10px;
  }
  .btnGroup {
    float:right;
    .btn{
      margin-left:10px;
      transition-duration: .5s;
      outline: none;
    }
  }

  .message{
    //opacity:.8;
    font-size:12px;
    color:#98b123;
  }
}


:local(.setting) {
  position: absolute;
  left:0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  .fadeIn();
  .showTime{
    position: relative;
    padding:0 0 8px 0;
    margin:0 0 10px 0;
    border-bottom:1px solid #dedede;
    .date{
      font-size:34px;
    }
    .monthAndYear{
      position: absolute;
      top:6px;
      left:50px;
      font-weight:bold;
    }
    .weekAndTime{
      position: absolute;
      left:50px;
      top:22px;
      color:#ccd0d5;
    }
  }
  .show{
    position: absolute;
    width:350px;
    top: 0;
    bottom: 0;
    right: 0;
    border-left:1px solid #dedede;
    background-color: #fbfbfb;//rgba(0, 0, 0, .7);
    .slideIn-right();
    ul{
      list-style: none;
      li{
        min-height:35px;
        line-height:35px;
      }
      textarea,input{
        border:1px solid #dedede;
        border-radius: 5px;
        padding:5px;
        width:100%;
        outline:none;
        resize:none;
        box-sizing: border-box;
      }
      .hText{
        font-weight:bold;
      }
    }
    padding:10px 30px;
    color:#545454;
    font-size:12px;
    box-sizing: border-box;

  }
  z-index:100;
}

.slideIn-right(){
  transform: translateZ(0);
  animation: .3s slide-in;
  -webkit-animation: .3s slide-in;
}

@keyframes slide-in {
  from { right: -350px } to { right: 0 }
}

.fadeIn() {
  transform: translateZ(0);
  animation: .3s fade-in;
  -webkit-animation: .3s fade-in;
}

@keyframes fade-in {
  from { opacity: 0 } to { opacity: 1 }
}