
<div class="footer">
    <div class="w100">
        <p>
            © 2017 写代码的熊猫,{{config.beian}},当前系统遵从Apache License开源协议开源,
            <a href="https://github.com/yodfz/nblog" target="_blank">[GITHUB SOURCE]</a></p>
    </div>
    <div style="display: none;">
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?1777f0fe0a70e49ecffcc2f72658af37";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </div>
</div>