<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nBlog</title>
    <script src="/config.js"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_5p72ig5ymo4oyldi.css">
    <link rel="stylesheet" href="/static/markdown/editor.css">
    <link rel="stylesheet" href="/static/js/messagebox.css">
    <script src="/static/markdown/marked.js"></script>
    <script src="/static/markdown/editor.js"></script>
    <script src="/static/js/messagebox.js"></script>
</head>

<body class="vh100">
    <div id="app"></div>
<script type="text/javascript" src="/manifest.bundle.js"></script><script type="text/javascript" src="/vendor.bundle.js"></script><script type="text/javascript" src="/js/main.babd2c071a7f2ee3c12c.js"></script></body>

</html>